html, body{
	height:100%;
	width:100%
}


#spelPlan {
	display:block;
	margin-left:auto;
	margin-right:auto;
	z-index: -99;
	position:absolute;
}

#gatFarsa {
	position:absolute;
	top:170px;
}



p {
	z-index: 99;
	position:relative;
}

#spelarSaldo2 {
	position:relative;
	top:30px;
}

#spelarSaldo3 {
	position:relative;
	top:60px;
}

#spelarSaldo4 {
	position:relative;
	top:90px;
}

.knapp {
	border-width: 1px;
	border-color:black;
	color:white;
}

#slåKnapp {
	position:relative;
	left: 35px;
	background-color: #4CA6FF;
	height:60px;
	width:150px;
}

#överförText {
	position:absolute;
	left:270px;
}

#överförSumma {
	position:absolute;
	left:270px;
}

#nyttSpel {
	left:-115px;
	position:relative;
	background-color:#228B22;
	height:60px;
	width:150px;
}