html, body{
	height:100%;
	width:100%
}


#spelPlan {
	display:block;
	margin-left:auto;
	margin-right:auto;
	z-index: -99;
	position:absolute;
}

p {
	z-index: 2;
	position:relative;
}

#spelarSaldo2 {
	position:relative;
	top:30px;
}

#spelarSaldo3 {
	position:relative;
	top:60px;
}

#spelarSaldo4 {
	position:relative;
	top:90px;
}

#slåKnapp {
	position:relative;
	left: 35px;
	background-color: #4CA6FF;
	border-width: 1px;
	border-color:black;
	color:white;
	height:60px;
	width:150px;
}